body {
    background-color: rgba(217, 219, 219, 0.29);
    margin: 1.5em auto 1.1em;
    width: 70%;
    padding: 0;
    text-align: -webkit-center;
    align-items: center;
}

.button-73 {
    width: 80%;
    font-weight: 700;
    font-size: 1rem;
    appearance: none;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    letter-spacing: -.24px;
    margin-top: 10px;
    padding: 5px 25px;
    outline: none;
    transition: all .15s;
}

.button-73:hover {
    background-color: #29c6ff;
    box-shadow: #0d1aaa 0 -6px 8px inset;
    transform: scale(1.125);
}

.button-73:active {
    transform: scale(1.025);
}