.block_users{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #54b3d6;
    background-color: #deeee5;
    box-sizing: border-box;
    padding: 15px 5px;
}
.block_user{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 2px solid #002bff;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    width: 18%;
    background-color: #d5d5d5;
color: #0674c2;
}

.ulElement{
    text-align: left;
}
.link_task_2 {
    font-size: 32px;
    background-color: yellowgreen;
    padding: 10px;
    margin: 10px;
}

a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #117595;
    margin: 0 -.25rem;
    padding: 0 .45rem;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

a:hover {
    box-shadow: inset 500px 0 0 0 #54b3d6;
    color: white;
}